In [8]:
import pandas as pd
from database.connect import get_db
from repository.info_attack_repository import get_information_attack_data


client, db = get_db()
collection = db['terrorism_data']

localhost 27017

In [13]:

dataframe = get_information_attack_data()
columns = ['kill', 'injured', 'location.region', 'location.latitude', 'location.longitude']
dataframe = dataframe[columns]

localhost 27017

In [20]:
dataframe['impact'] = (dataframe['kill'] * 2) + dataframe['injured']
dataframe.groupby('location.region')[['impact', 'location.latitude', 'location.longitude']].mean().reset_index()

,location.region,impact,location.latitude,location.longitude
0,Australasia & Oceania,0.000000,-37.813187,144.962980
1,Central America & Caribbean,0.500000,15.818972,-79.169337
2,East Asia,0.000000,33.580412,130.396361
3,Eastern Europe,0.000000,52.501530,13.401851
4,Middle East & North Africa,0.242857,37.383084,36.082641
5,North America,0.428152,37.771726,-95.440497
6,South America,0.441860,-29.292611,-57.748370
7,South Asia,28.000000,24.891115,67.143311
8,Southeast Asia,6.812500,14.220182,118.662527
9,Sub-Saharan Africa,0.800000,11.583513,37.397019
10,Western Europe,2.110092,49.170872,2.880787